#quick_facts {
  width: 10%;
}

#contents {
  padding: 20px;
}

.box-container {
  display: table;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  background-color: #e7e7e7;
}

hr {
  height: 0.2px;
  border-radius: 50%;
  background-color: black;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}