.box-container {
  display: table;
  border: 1px solid;
  padding: 5px;
  border-radius: 1px;
  background-color: #f7f7f7;
}

.box-header {
  margin-top:0px;
  text-align:center;
  font-weight: bold;
}

.left {
  float: left;
  font-weight: bold;
  width: 30%;
  text-align: left;
}

.right {
  float: right;
  width: 60%;
  padding-left: 10%;
  text-align: left;
}

.row {
  display: flex;
}

.paragraph-title {
  border-bottom: 1px solid #a2a9b1;
  padding: 3px;
}

#quick_facts {
  width: 300px;
  text-align: center;
  font-size: 85%;
}

#quick_facts_inner_title {
  background-color: #dfdfdf;
}

#contents {
  padding: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 5px;
}

body {
  background-color: #ffffff;
  font-family: 'Linux Libertine','Georgia','Times',serif;
}